h1{
    text-align: center;
}

.container{
    display:flex;
    justify-content: center;
}

.calc{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 6px;
    height: 360px;
    width: 300px;
    word-wrap: break-word;
    word-break: break-all;
    background-color: rgba(10, 25, 239, 0.729);
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 15px;
    border: 2px solid black;
    border-radius: 5px;
    height: 80px;
    width: 250px;
    background-color: white;
}

.display-current{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5px;
    font-size: 30px;
}

.display-previous{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 5px;
    font-size: 18px;
    max-height: 300px;
}

.delete{
    width: 120px;
    background-color: aqua;
}

.all-clear{
    width: 130px;
    background-color: crimson;
}

.equals-btn{
    width: 260px;
}


.button{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button{
    margin: 2px;
    height: 40px;
    width: 60px;
    border-radius: 5px;
    background-color:chartreuse;
    font-weight: 700;
}